* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
:root {
  --red-dark: #73020c;
  --red: #d90416;
  --red-light: #ea192b;
  --red-light-60: #ea192a99;
  --pink: #d62945;
  --pink-light: #ff9eae;
  --dark-blue: #0c1726;
  --bg-color: #ffe2c8;

  --Tittle: "Tilt Warp";
  --Normal-Text: "Barlow";

  --default-shadow: 0.8rem 0.8rem 1.6rem rgba(0, 0, 0, 0.25);
}

body {
  background-color: var(--bg-color);
}

/* responsive method */
.container-all {
  border: solid 1px gold;
  align-self: center;
  justify-self: center;
  width: 104rem;
}

.hide {
  display: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--Tittle);
}

h1 {
  line-height: 4.5rem;
  font-weight: 400;
}

p {
  font-family: var(--Normal-Text);
  font-weight: 400;
  font-size: 1.6rem;
}

button {
  font-family: var(--Normal-Text);
  font-weight: 600;
}

header {
  border: solid 1px green;
  max-height: 6.8rem;
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    margin-left: -0.4rem;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 4rem;

    ul {
      display: flex;
      list-style: none;
      gap: 4rem;

      li {
        a {
          text-transform: uppercase;
          text-decoration: none;
          color: white;
          font-size: 1.6rem;
          font-weight: 600;
          font-family: var(--Normal-Text);
          letter-spacing: 4.5px;
        }
      }
    }

    div.nav-options {
      display: flex;
      gap: 3rem;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 50%;
        width: 5.6rem;
        height: 5.6rem;
      }
    }
  }
}

section.hero {
  background-image: url(src/imagens/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80rem;

  .container-hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8.2rem;
    .hero-text-content {
      height: 32rem;
      width: 40.6rem;

      h1 {
        text-transform: uppercase;
        font-size: 4.4rem;
        color: white;
        margin-bottom: 2.5rem;
      }
    }

    p {
      font-size: 1.8rem;
      font-weight: 400;
      color: white;
      margin-bottom: 3rem;
    }

    .hero-button {
      background-color: transparent;
      border: solid 2px white;
      padding: 1.3rem 7rem;
      border-radius: 3.6rem;

      color: white;
      font-size: 2.1rem;

      cursor: pointer;
      transition: background-color 0.2s ease-out, color 0.2s ease-out,
        transform 0.2s ease-out;
      &:hover {
        background-color: white;
        color: var(--red);
        transform: scale(0.95);
      }
    }
  }
}

section.menu {
  position: relative;
  .menu-semi-button {
    font-size: 2.4rem;
    font-weight: 600;
    font-family: var(--Normal-Text);
    letter-spacing: 0.6rem;
    color: white;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    width: max-content;
    padding: 1rem 5.8rem;
    background-color: var(--dark-blue);
    border-radius: 2.5rem;
    z-index: 3;
  }

  .menu-content {
    position: absolute;
    overflow: hidden;
    left: 0;

    display: flex;
    gap: 14rem;
    width: 100%;
    height: 20rem;
    background-color: white;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);

    align-items: center;
    justify-content: center;

    .menu-type-selector {
      align-items: center;
      display: flex;
      flex-flow: column;
      img {
        width: 18.2rem;
      }
    }
  }
}

section.flavors {
  margin-top: 23rem;
  .flavors-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .packages-sizes {
      display: flex;
      gap: 4rem;
      margin-bottom: 3rem;
      .package {
        border-radius: 1rem;
        width: 50rem;
        height: 20rem;
      }
      .package-normal-size {
        background: linear-gradient(
          to right,
          var(--red-light),
          var(--red-dark)
        );
      }
      .package-smaller-size {
        background: linear-gradient(to left, var(--pink), var(--pink-light));
      }
    }
    .flavors-cards {
      display: flex;
      flex-flow: column;
    }
    .flavor-normal-size {
      display: grid;
      grid: auto-flow / repeat(3, 1fr);
      flex-flow: column;
      gap: 4rem;
      .flavor-type {
        position: relative;

        display: flex;
        flex-flow: row;
        padding: 2rem;
        border-radius: 1rem;
        width: 32rem;
        height: 22rem;
        background-color: white;
        box-shadow: var(--default-shadow);

        background: right / contain no-repeat
          url(src/imagens/Flavor-card-background.png);

        .flavor-text {
          width: max-content;
          h3 {
            font-size: 2.8rem;
            color: var(--dark-blue);
          }
        }
      }
    }
  }
}

section.about {
  margin-top: -10rem;
  height: 151rem;
  background: center / contain no-repeat
    url(src/imagens/background-about.png);
}

@media screen and (max-width: 2560px) {
  .container-all {
    width: 1370px;
  }
}
@media screen and (max-width: 1600px) {
  .container-all {
    width: 1182px;
  }
}
@media screen and (max-width: 1260px) {
  .container-all {
    width: 1000px;
  }
}
@media screen and (max-width: 1058px) {
  .container-all {
    width: 858px;
  }
  header {
    nav {
      display: none;
    }
  }
}
@media screen and (max-width: 906px) {
  .container-all {
    width: 730px;
  }

  html {
    font-size: 48%;
  }
  img.hero-cake {
    width: 40%;
  }
}
@media screen and (max-width: 778px) {
  .container-all {
    margin-top: 16px;
    width: 520px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  img.hero-cake {
    display: none;
  }

  .hero-text-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .logo {
    width: 30%;
  }
}
